<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <!-- <param name="threshold" value="INFO"/> -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="INFO"/>
      <param name="LevelMax" value="INFO"/>
    </filter>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss}> %rms -%t [%p] %C{1}.%M(%F:%L) --%m%n" />
    </layout>
  </appender>
  
  <appender name="errout" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.err"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="%d{HH:mm:ss}> %rms -%t [%p] %C{1}.%M(%F:%L) --%m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="WARN"/>
      <param name="levelMax" value="FATAL"/>
    </filter>
  </appender>

  <appender name="htmlFileAllCurr" class="org.apache.log4j.FileAppender">
    <param name="File" value="${user.home}/logs/wppsLogAllCurr.html"/>
    <param name="append" value="false"/>
    <layout class="org.apache.log4j.HTMLLayout">
      <param name="Title" value="Web Page Processing System - All logs"/>
      <param name="LocationInfo" value="true"/>
    </layout>
  </appender>
  
  <appender name="txtFileAll" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${user.home}/logs/wppsLogAll.txt"/>
    <param name="append" value="true"/>
    <param name="MaxFileSize" value="20000KB" />
    <param name="MaxBackupIndex" value="95" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss}> %rms -%t [%p] %l [%x] --%m%n" />
    </layout>
  </appender>
  

<!--   <appender name="htmlFileAll" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="wpa-log-all.html"/>
      <param name="append" value="true"/>
      <param name="ImmediateFlush" value="true"/>
      <param name="MaxFileSize" value="100KB" />
      <param name="MaxBackupIndex" value="1" />
      <layout class="org.apache.log4j.HTMLLayout">
        <param name="Title" value="Webpage Analyzer - All logs2"/>
        <param name="LocationInfo" value="true"/>
      </layout> -->
<!--      <param name="DatePattern" value="'.'yyyy-MM-dd-HH'.html'"/> -->
<!--  <param name="immediateFlush" value="true" />
    <param name="bufferedIO" value="false"/>-->
<!--<param name="threshold" value="debug"/>-->
<!-- <param name="BufferSize" value="128" /> default value is 128 messages -->
<!-- <filter class="org.apache.log4j.filter.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="WARN"/>
        </filter> -->
<!--  </appender> -->


  <root>
    <priority value ="WARN" />
    <!-- <appender-ref ref="stdout" /> -->
    <appender-ref ref="errout" />
    <appender-ref ref="htmlFileAllCurr" />
    <appender-ref ref="txtFileAll" />
  </root>
  
	<!-- Type cast -->
  <logger name="tuwien.dbai.wpps.core.wpmodel.instadp.rdfimpllib.TypeCastManagerLib">
    <level value="DEBUG"/>
  </logger>
  
	<!-- Spatial Index -->
  <logger name="tuwien.dbai.wpps.core.spatialindex">
    <level value="DEBUG"/>
  </logger>
  <logger name="tuwien.dbai.wpps.core.spatialindex.jsi.rtree.RTree">
    <level value="WARN"/>
  </logger>

  <!-- loggers from other libraries -->
  
  <logger name="com.infomatiq">
    <level value="WARN"/>
  </logger>

  <logger name="org.hibernate">
    <level value="WARN"/> 
  </logger>

<!-- comes with hibernate -->
 <logger name="com.mchange">
    <level value="WARN"/> 
  </logger>

</log4j:configuration>
